<div class="container">
    <div class="row">
      <div class="progress" *ngIf="loader">
        <div class="indeterminate"></div>
      </div>
        <div class="col s10 offset-s1">
            <h3>Login</h3>
            <div id="error_msg" *ngIf="errorMsg">
              <span class="e">{{errorMsg}}</span>
            </div>
                <form class="col s12" [formGroup]="loginForm" novalidate (ngSubmit)="login()">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="username" type="text" formControlName="username">
                      <label for="username">Username</label>
                      <div class="danger" *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].invalid">
                        username is required
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="pass-word" type="password" formControlName="password">
                      <label for="pass-word">Password</label>
                      <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
                        password is required
                      </div>
                    </div>
                </div>
                <button class="btn waves-effect">
                    Login
                </button>
                </form>
        </div>
    </div>
</div>
