  <nav class="nav-extended" style="background-image: url('https://i.pinimg.com/originals/3c/8f/12/3c8f12b0606ad428cacccc09fd98246c.jpg');">
  <div class="container" >
    <div class="nav-wrapper">
      <a routerLink="/streams" class="brand-logo">Metwork</a> 
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- ------------------------------------------------- -->
        <div style="width:300px; float:left;">
        <li class="dropdown-button dropdown-trigger arpit" data-target="dropdown">
          <i class="fa fa-globe fa-1x badge"></i>
           <span class="nav-label-icon">{{noOfUnreadNotifs}}</span>
           <ul id="dropdown" class="dropdown-content col s12 collection arpit">
             <li class="collection-item avatar" *ngFor="let n of notifications">
               <img src="https://res.cloudinary.com/arpit7xx/image/upload/v{{n.senderId.picVersion}}/{{n.senderId.picId}}" alt="haha" class="circle">
               <span [ngClass]="n.read ? 'isRead' : 'unread'">{{n.message}}</span>
               <p class="time">{{ timeFromNow(n.created) }}</p>
             </li>
  
             <li *ngIf="!notifications.length">
              <p class="text">no notifications</p> 
             </li>
              <p class="secondary-content">
                <a class="markAll btn" (click)="markAll()">Mark All As Read</a>
              </p>
            </ul>
             </li>
            <li>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </li>
            </div>
      <!-- ------------------------------------ -->
      <div style="width:300px; float:right;">
        <li class="dropdown-button dropdown-trigger1 arpit" data-target="dropdown1">
            <i class="fa fa-bell fa-1x badge"></i>
             <span class="nav-label-icon circle">{{ noOfUnreadMsgs }}</span>
             <ul id="dropdown1" class="dropdown-content col s12 collection arpit">
               <li class="collection-item avatar circle" *ngFor="let chat of chatList"
               (click)="gotoChatPage(chat.recieverId.username)">
                 <img src="https://res.cloudinary.com/arpit7xx/image/upload/v{{chat.recieverId.picVersion}}/{{chat.recieverId.picId}}" alt="haha" class="circle">
                 <span class="title">{{ chat.recieverId.username }}
                   <a class="secondary-content">
                     {{ messageDate(chat.messageId.message[chat.messageId.message.length -1 ].createdAt) }}
                    </a>
                 </span> 
                 <p>
                  {{ chat.messageId.message[chat.messageId.message.length -1 ].body }}
                  <a class="secondary-content" 
                  *ngIf="!chat.messageId.message[chat.messageId.message.length -1 ].isRead
                  && chat.recieverId.username !== chat.messageId.message[chat.messageId.message.length -1 ].recieverName">
                    <i class="material-icons">brightness_1</i>
                  </a>
                  <a class="secondary-content"
                  *ngIf="chat.messageId.message[chat.messageId.message.length -1 ].isRead">
                    <i class="material-icons">panorama_fish_eye</i>
                  </a> 
                 </p>
               </li>
    
               <li *ngIf="!notifications.length">
                <p class="text">no notifications</p> 
               </li>
                <p class="secondary-content">
                  <a class="markAll btn" (click)="markAllMsgs()">Mark As Read</a>
                </p>
              </ul>
               </li>
              </div>
      <li class="form_style"><a (click)="logout()">Logout</a></li>
               
      </ul>
    </div>

    <div class="nav-content">
      <div class="nav-div">
        <img class="circle responsive-img"
          src="https://res.cloudinary.com/arpit7xx/image/upload/v{{imageVersion}}/{{imageId}}" style="width: 120px; height: 120px;">
      </div>
      <h1 class="profile-name">{{user.username}} &emsp;
      <button routerLink="/memegen" class="xd">Make your own meme</button>
      <button routerLink="/memeapi" class="xt">See the popular memes around the world</button></h1>

      <!-- <p class="user-text">user details</p> -->
    </div>
  </div>
</nav>