<nav class="nav-extended">
  <div class="container">
    <div class="nav-wrapper">
      <a routerLink="/streams" class="brand-logo">Metwork</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      
        <li class="dropdown-button dropdown-trigger1 arpit" data-target="dropdown1">
            <i class="fa fa-bell fa-1x badge"></i>
             <span class="nav-label-icon circle">{{ noOfUnreadMsgs }}</span>
             <ul id="dropdown1" class="dropdown-content col s12 collection arpit">
               <li class="collection-item avatar circle" *ngFor="let chat of chatList"
               (click)="gotoChatPage(chat.recieverId.username)">
                 <img src="https://res.cloudinary.com/arpit7xx/image/upload/v{{chat.recieverId.picVersion}}/{{chat.recieverId.picId}}" alt="haha" class="circle">
                 <span class="title">{{ chat.recieverId.username }}
                   <!-- <a class="secondary-content">
                     {{ messageDate(chat.messageId.message[chat.messageId.message.length -1 ].createdAt) }}
                    </a> -->
                 </span> 
                 <p>
                  {{ chat.messageId.message[chat.messageId.message.length -1 ].body }}
                  <!-- <a class="secondary-content" 
                  *ngIf="!chat.messageId.message[chat.messageId.message.length -1 ].isRead
                  && chat.recieverId.username !== chat.messageId.message[chat.messageId.message.length -1 ].recieverName">
                    <i class="material-icons">brightness_1</i>
                  </a>
                  <a class="secondary-content"
                  *ngIf="chat.messageId.message[chat.messageId.message.length -1 ].isRead">
                    <i class="material-icons">panorama_fish_eye</i>
                  </a> -->
                 </p>
               </li>
    
               <li *ngIf="!notifications.length">
                <p class="text">no notifications</p> 
               </li>
                <p class="secondary-content">
                  <a class="markAll btn" (click)="markAllMsgs()">Mark As Read</a>
                </p>
              </ul>
               </li>
      <li class="xx"><a (click)="logout()">Logout</a></li>
               
      </ul>
    </div>

    <div class="nav-content">
      <div class="nav-div">
        <img class="circle responsive-img"
          src="https://res.cloudinary.com/arpit7xx/image/upload/v{{imageVersion}}/{{imageId}}" style="width: 70px">
      </div>
      <h1 class="profile-name">{{user.username}} &emsp;
      <button routerLink="/memegen" class="xd">Make your own meme</button>
      <button routerLink="/memeapi" class="xt">See the popular memes around the world</button></h1>

      <!-- <p class="user-text">user details</p> -->
    </div>
  </div>
</nav>