.liked {
    color: #64b5f6 !important;
}
.button {
    background: none !important;
    border: none !important;
    height: 10px;
}
.title {
    font-weight: bold;
    color: #64b5f6;
}
.time {
    font-size: 14px;
    color: #666565;
}
.iconSpan {
    font-size: 18px;
    line-height: 18px;
    margin-right: 5px;
}
.material-icons {
    display: inline-flex;
    vertical-align: top;
    cursor: pointer;
}
.deleteBtn {
    background: red !important;
    border: none !important;
    height: 40px;
}

::ng-deep .mat-paginator{
    float: right;
    font-size: 1rem;
}